@property --color-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 55, 55);
}

@property --color-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 146, 96);
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(80, 80, 80);
}

.button {
  padding: 0.75em 2.5em;
  text-align: center;
  background-image: linear-gradient(90deg, var(--color-1), var(--color-2));
  align-items: center;
  border: 0;
  border-radius: 0.5rem;
  transition: --color-1 700ms, --color-2 700ms 550ms;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  --color-1: rgb(255, 146, 96);
  --color-2: rgb(255, 55, 55);
}

p {
  margin: 0;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
